.loan-container {
  .form-group.xs .form-control {
    width: 100px;
  }
}

.eligibility-container {
  font-size: 1.5rem;
  position: absolute;
  right: 37px;
  top: 23px;
}

.outer-body {
  width: 429px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 5px;
  padding-bottom: 25px;
  margin-bottom: 10px;
}

.inner-body1 {
  width: 427px;
  height: 45px;
  background: #f0f0f0;
  border-radius: 4px 4px 0px 0px;
}

.text-body1 {
  font-style: normal;
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
  margin: 13px 290px 11px 9px;
  //padding: 13px 290px 11px 9px;
}

.second-body {
  display: flex;
  justify-content: space-between;
  // &::after {
  //     padding-top: 0.5em;
  //     border-bottom: 1px solid #d1d1d1;
  //     display: block;
  //     content: "";
  // }
}

.inner-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #4f4f4f;
  margin-left: 16px;
  margin-top: 20px;
}

.inner-text2 {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #4f4f4f;
  margin-right: 28px;
  margin-top: 20px;
}

.inner-items {
  display: flex;
  justify-content: space-between;
  margin-top: 19px;
}

.inner-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: auto;
  margin-right: 25px;
  border: 1px solid $input-border-color;
  width: 134px;
  height: 36px;
  border-radius: 5px;
}

.arrow-btns {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 10.24px;
}

.break-line {
  color: #e0e0e0;
}

.inner-txt {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #333333, 100%;
  margin-left: 16px;
  padding-top: 4px;
}

.inner-hierarchy {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #3a3974;
  padding-left: 16px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.source-hierarchy-display {
  display: flex;
  flex-direction: row;
  width: 335px;
  height: 50px;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 5px;
}

.source-hierarchy-inner {
  width: 30px;
  height: 30px;
  background: #eeeeee;
  border-radius: 5px;
  justify-content: center;
}

.block-inside {
  width: 6px;
  height: 6px;
  background: rgba(116, 116, 116, 0.3);
  border-radius: 1px;
}
