$primary: #0ab89a;
$secondary: rgba(58, 57, 116, 0.15);
$link: #3c50e8;
$custom-checkbox-indicator-indeterminate-bg: #fff !default;
$custom-control-indicator-checked-color: #000 !default;
$custom-checkbox-indicator-indeterminate-border-color: #000 !default;
$custom-checkbox-indicator-border-radius: 0px !default;
$input-border-color: #949494 !default;
$input-placeholder-color: #bdbdbd !default;
$input-border-focus-color: #4f4f4f !default;
$input-border-invalid-color: #ff5050 !default;

$body-background: #fff;

$font-color-primary: #333333;

$selected-background: #fff;
$heading: #000000;
$font-body: #333333;
$form-disabled-background: #eeeeee;
$left-menu-background: #f7f7f7;
$completed-green: #3bb54a;
$header-label-color: #929292;

$dropside-paddingx-width: 1rem;
