.plan-summary-container {
  border-radius: 0.313rem;
  background: #ffffff;

  .card-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;

    .heading {
      line-height: 1.688rem;
    }
  }

  .card-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .card-item {
      border-right: 1px solid #e0e0e0;
    }

    :last-child {
      border-right: none;
    }
  }
}
