.icon {
  margin-top: 0px;
  width: 24px;
  height: 24px;
  .icon-button {
    width: 24px;
    height: 24px;
    padding: 8px 5px;
    background-color: #e0e0e0 !important;
    border: 1px solid #e0e0e0 !important;
    border-radius: 5px;
    color: #828282;
    align-items: center;
  }
  .active {
    background-color: #828282 !important;
    border: 1px solid #828282 !important;
    color: #e0e0e0;
    transform: rotate(90deg);
    .status {
      color: #9b51e0 !important;
    }
  }
}
.status {
  font-size: 16px;
  line-height: 24px;
  color: #2f80ed;
  margin-left: 31px;
  margin-bottom: 10px;
}

.card-container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: fit-content;
  background-color: #f6f6f6;
  border: 0.063rem solid #f6f6f6;
  border-radius: 0.313rem;
  margin-bottom: 20px;
  :last-child {
    border-right: none;
  }
}
@media screen and (max-width: 47.625rem) {
  .card-container {
    flex-direction: column;
    height: fit-content;
    width: fit-content;
  }
}
