.cspl-table {
  .column-field {
    width: 20%;
  }
  .column-dateTimeModified {
    width: 20%;
  }
  .column-previousValue {
    width: 20%;
  }
  .column-updatedValue {
    width: 20%;
  }
  .column-comments {
    width: 20%;
  }
}
