.mapper-container {
  display: flex;
  justify-content: space-between;
}

.target-text {
  /* Target */
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: 0rem;
  text-align: left;
  height: 1rem;
  width: 3.5rem;
  left: 0rem;
  top: 0.031;
  color: #333333;
  position: static;
}

.main-target-container {
  display: flex;
  flex-direction: column;
  // width: 50rem;
  height: 27rem;
}
.main-target {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.target-tabs {
  overflow-x: hidden;
}

.add-group-style {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.target-fields-container {
  position: fixed;
  width: 45rem;
  // margin-left: -0.5rem;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  height: 26rem;
  overflow-y: scroll;
  padding: 15px 10px 0px 20px;
}
.target-custom-fields-container {
  display: flex;
  position: fixed;
  width: 48rem;
  margin-left: -0.5rem;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  height: 26rem;
  overflow-y: scroll;
  padding: 15px 10px 0px 20px;
}

.left-arrow-div {
  align-items: center;
  padding-top: 6px;
  padding-right: 7px;
}
.right-arrow-div {
  align-items: center;
  padding-top: 6px;
  padding-left: 7px;
}

.add-custom-fields {
  display: flex;
  position: absolute;
  right: 0;
  padding-right: 4px;
  cursor: pointer;
}
.plus-symbol {
  align-self: center;
  margin-right: 5px;
}
.add-custom-field-text {
  color: #2f80ed;
  font-size: 1rem;
  font-weight: normal;
}
.break-bar {
  padding-top: 0.5em;
  border-bottom: 1px solid #d1d1d1;
  display: block;
  content: "";
}
.custom-fields {
  display: flex;
  flex-direction: column;
}
.search-drop-down {
  position: absolute;
  background-color: white;
  width: 50rem;
  max-height: 20.625rem;
  padding: 0px 20px;
  overflow: scroll;
}
.drop-down-ul {
  list-style-type: none;
  padding-left: 10px;
  margin: 0px;
}
li {
  font-size: 14px;
}
.drop-down-li:hover {
  background-color: lightgray;
}
.Load-def-source-selecttaglabel {
  font-size: 12px;
  color: #828282;
}

.mapper-verifymap-tablerow:hover {
  background-color: transparent !important;
}

.mapper-verifymap-tableheader {
  border-bottom: 1px solid #bdbdbd;
}
