.cspl-table {
  overflow-y: scroll;
  max-height: 100%;
  .column-classification-type {
    width: 25%;
  }
  .column-classification-type-required {
    width: 25%;
  }
  .column-client-eligibility {
    width: 25%;
  }
  .column-codes {
    width: 25%;
  }
}
