.form-control.dropSide {
  padding-right: 0px !important;
  cursor: pointer;
  padding: 0px !important;
  text-align: left;
  min-width: 5rem;
  border-color: $input-border-color;

  .dropSide-custom-select {
    width: 100%;
    padding: 0px 0.75rem;
    border-radius: 6px;
    background: white;
    padding-right: 0px;
    width: calc(100% - 2rem);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    height: 100%;
    padding-top: 0.5rem;
  }
  .dropSide-custom-select-arrow {
    min-width: 32px;
    display: flex;
    position: absolute;
    right: 0px;
    padding: 0px;
    font-size: 24px;
    border: none;
    outline: none;
    height: 100%;
    border-radius: 5px;
    .arrow-item {
      transform: rotate(90deg);
    }
    &.is-open {
      z-index: 11;
      background-color: #fff;
      .arrow-item {
        transform: rotate(0deg);
      }
    }
    &.bottom.is-open {
      .arrow-item {
        transform: rotate(270deg);
      }
    }
  }
  &:disabled {
    .dropSide-custom-select {
      background-color: transparent;
    }
  }
  .place-holder {
    color: $input-placeholder-color;
  }
  &.auto-grow-dropdown {
    &:not(.open) {
      height: auto;
      min-height: calc(1.5em + 1rem + 2px);
      width: auto !important;
      min-width: 300px;
      max-width: 550px !important;
      .dropSide-custom-select {
        white-space: normal;
        display: flex;
        align-items: center;
        position: static;
        padding-top: 7px;
        padding-bottom: 7px;
      }
      .dropSide-custom-select-arrow {
        min-width: 40px !important;
      }
    }
  }
  .disabled-multiselect-dots {
    position: absolute;
    right: 0px;
    width: 20px;
    cursor: default;
    text-align: center;
  }

  .date-picker-wrapper {
    display: flex;
    right: 20px;
    color: #000;
    margin-left: calc(100% - 1.5rem);
    line-height: 1;
    align-items: center;
    .clear-date {
      position: absolute;
      left: calc(100% + 10px);
    }
    .date-picker-icon {
      svg {
        font-size: 1.15rem;
      }
    }
  }
}

.dropSide-popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 3;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  .searchable-list-input-text {
    width: auto !important;
  }
  .popup-overlap {
    background-color: #fff;
    position: fixed;
    right: -2px;
    width: 3px;
    height: calc(1.5em + 0.75rem + 4px);
  }
  border: 1px solid $primary;
  > *:first-child {
    padding-top: 1rem !important;
  }
  .form-group {
    padding: 0.25rem $dropside-paddingx-width;
  }
  .form-label {
    white-space: nowrap;
  }
  .searchable-list {
    margin: 0.25rem 0px;
  }
  .line-separator {
    border-top: 1px dashed #000;
    margin: 0.25rem 1.5rem;
  }
  .form-label::after {
    content: none !important;
  }
  .optional-side-text {
    display: none;
  }
}

.dropdside-custom-dropdown {
  .navigation-link {
    padding: 1rem 1.5rem;
    color: #006cf3;
    font-weight: 500;
  }
}

.xxs .dropSide-popup {
  min-width: 60px;
}
.xs .dropSide-popup {
  min-width: 90px;
}
.sm .dropSide-popup {
  min-width: 130px;
}
.smd .dropSide-popup {
  min-width: 200px;
}
.smdd .dropSide-popup {
  min-width: 230px;
}
.md .dropSide-popup {
  min-width: 300px;
}
.lg .dropSide-popup {
  min-width: 420px;
}
.xl .dropSide-popup {
  min-width: 540px;
}
.xxl .dropSide-popup {
  min-width: 660px;
}
.xxxl .dropSide-popup {
  min-width: 780px;
}

@media screen and (max-width: 1368px) {
  .xxs .dropSide-popup {
    min-width: 40px;
  }
  .xs .dropSide-popup {
    min-width: 85px;
  }
  .sm .dropSide-popup {
    min-width: 120px;
  }
  .smd .dropSide-popup {
    min-width: 170px;
  }
  .smdd .dropSide-popup {
    min-width: 200px;
  }
  .md .dropSide-popup {
    min-width: 240px;
  }
  .lg .dropSide-popup {
    min-width: 360px;
  }
  .xl .dropSide-popup {
    min-width: 470px;
  }
  .xxl .dropSide-popup {
    min-width: 600px;
  }
  .xxxl .dropSide-popup {
    min-width: 680px;
  }
}
