.search-dropdown-api {
  position: relative;
  .options-wrapper {
    position: absolute;
    max-height: 200px;
    width: 100%;
    z-index: 9;
    overflow-y: auto;
    background: #fff;
    border: 1px solid #bdbdbd;
    border-radius: 0px 0px 5px 5px;
    .search-option-item {
      padding: 0.75rem 1.25rem;
      font-size: 14px;
      font-weight: 500;
      border-bottom: 1px solid rgba(141, 141, 141, 0.25);
      color: #333333;
      text-decoration: none;
      &:last-child {
        border-bottom: 0px;
      }
    }
  }
  .search-with-api-text {
    border-radius: 0.3rem 0 0 0.3rem !important;
    border-right: 0px;
  }
  .search-with-api-button {
    border: 1px solid #949494;
    border-left: 0px;
    height: 56px;
  }
}
