.select-form-control {
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid $input-placeholder-color;
  background: url("/assets/icons/svg/arrow-icon.svg") no-repeat;
  background-position: right;
  background-position-x: 94%;
  -webkit-appearance: none;
  background-size: 18px;
}

.dropdown-component {
  background-color: #fff;
  .dropdown-toggle {
    padding: 8px 10px;
    border-radius: 5px;
    color: black !important;
    background: url("/assets/icons/svg/arrow-icon.svg") no-repeat !important;
    background-position: right;
    background-position-x: 94% !important;
    -webkit-appearance: none;
    text-transform: capitalize;
    font-weight: 400;
    background-size: 18px !important;
    background-position-y: 12px !important;
  }
  .btn.btn-primary {
    border: 1px solid $input-placeholder-color;
    width: 100%;
    text-align: left;
  }
  .btn-primary:hover {
    background: #fff;
    color: black;
  }
  .show > .btn-primary.dropdown-toggle {
    color: #000;
    background-color: #fff;
    border-color: $input-placeholder-color;
  }
  .dropdown-toggle::after {
    display: none;
  }
  .dropdown-toggle::before {
    display: none;
  }
  .dropdown-toggle {
    &:focus {
      border-color: $primary;
    }
  }

  .dropdown-menu.show {
    width: 100%;
    transform: translate(1px, 37px);
    border: 1px solid #3a3974;
  }

  .dropdown-menu {
    .dropdown-item {
      font-size: 0.75rem;
      outline: none;
      &:active,
      &:focus,
      &.selected {
        color: #212529;
        background-color: #f8f9fa;
      }
    }
  }
}
