.errors-card {
  margin: 0rem auto;
  padding: 6px;
  .error-head {
    background: #fff;
    color: #000;
    font-size: 12px;
    font-weight: 600;
    // border-radius: 5px 5px 0px 0px;
    padding: 10px;
  }
  .error-body {
    background: #fff;
    list-style: none;
    font-size: 12px;
    font-weight: 500;
    color: #333;
    // border-radius: 0px 0px 5px 5px;
    border-top: 1px solid #e0e0e0;
    padding-left: 0;
    li {
      padding: 10px;
      border-bottom: 1px solid #e0e0e0;
      cursor: pointer;
      position: relative;
      color: #828282;
    }
    li:last-child {
      border-bottom: 0;
    }
    .active-text {
      background: rgba(47, 128, 237, 0.2);
      color: #000;
    }
    .inactive-text {
      background: #fff;
      // white-space: nowrap;
      width: 282px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .arrow-left {
      position: absolute;
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-right: 7px solid black;
      left: -6px;
      margin-top: 5px;
    }
  }
}
.payroll-error-listing {
  padding: 5px;
  border: 1px solid #e0e0e0;
  margin: 1rem 0;
  background: #fff;
  border-radius: 5px;
}
