.sidebar-container {
  .margin-bottom-5 {
    margin-bottom: 4px;
  }
  .sidebar-content {
    height: 100%;
    color: #fff;
    align-items: flex-end;
    font-weight: 500;
    font-size: 11px;
    ul {
      padding: 0px;
      margin: 0px;
      list-style: none;
      li {
        padding: 0.3em 0px;
      }
    }
    a {
      color: #fff;
      text-decoration: none;
    }
    .minimized-content {
      display: inherit;
      .core-icon {
        position: relative;
        left: calc(100% - 10px);
      }
      .arrow-icon-right {
        position: absolute;
        right: 0px;
        bottom: 0px;
        font-size: 20px;
      }
    }
    .maximized-content {
      display: none;
    }
  }
  &.expanded {
    .minimized-content {
      display: none;
    }
    .maximized-content {
      display: inherit;
    }
  }
  .core-icon {
    display: block;
    background-color: #fff;
    padding: 3px 5px;
    height: 24px;
    &.white {
      background-color: transparent;
    }
  }
  .congruent-icon {
    display: inline-block;
    background-color: #fff;
    width: 132px;
    height: 24px;
    text-align: center;
    padding-top: 3px;
    padding-left: 5px;
    .arrow-icon-left {
      font-size: 20px;
      position: absolute;
      right: 0px;
      margin-top: -5px;
    }
    img {
      width: 90%;
      height: 90%;
      vertical-align: middle;
    }
  }
}
