.dropdown-excel-button {
  background: #fff !important;
  border: 0px !important;
}
.dropdown-excel {
  background: #ffffff;
  border: 1px solid #3a3974 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  list-style: none;
  padding: 10px;
  margin-top: 10px;
  width: 260px;
  position: absolute;
  li {
    font-size: 12px !important;
    color: #4f4f4f !important;
    line-height: 26px;
    cursor: pointer;
  }
}
.text-black {
  color: #000;
  font-weight: 500 !important;
}
.arrow-icon-drop {
  padding: 10px 5px;
}
