.searchable-list {
  overflow: auto;
  padding: 0;
  margin: 1rem 0rem;
}

.searchable-list .dropdown-item {
  text-transform: none;
  color: black;
  padding-left: $dropside-paddingx-width;
  padding-right: $dropside-paddingx-width;
  &:active {
    background-color: transparent;
    color: black;
    .custom-control .custom-control-label {
      // color: #fff !important;
    }
  }
  &:focus {
    outline: none;
  }
  &.selected {
    background-color: #f1f1f1;
    font-weight: 500;
  }
}

.searchable-list-wrapper {
  max-height: 300px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  .searchable-list-input {
    display: flex;
    flex-direction: column;
    padding: 0.25rem $dropside-paddingx-width;
    &.form-group {
      margin-bottom: 0px;
      &.invalid .form-control {
        border-color: initial;
      }
    }
  }
}
