.employee-details {
  font-size: 0.75rem;
  .employee-name {
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.15rem 0px;
    margin-left: 32%;
  }
  .employee-status {
    font-size: 0.65rem;
    padding: 0.15rem 0px;
  }
  .employee-id {
    font-size: 0.65rem;
    padding: 0.15rem 0px;
  }
}
.image-upload-tab-294 {
  height: 400px;
  width: 456px;
}
.margin-left-bottom {
  margin-left: 20%;
}
