.manage-mapper-menu {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  margin-right: -15px;
  margin-left: -15px;
  font-size: 14px;
  overflow-y: auto;
  height: 100%;
  li {
    white-space: nowrap;
    padding: 0.5em 2em;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    &:first-child {
      margin-top: 10px;
    }
    a {
      color: $font-color-primary;
    }
    &.selected {
      background-color: $selected-background;
      font-weight: 500;
      color: #000;
      a {
        font-weight: 500;
        color: #000;
      }
      .open-rounded-corner-top,
      .open-rounded-corner-bottom {
        &::after,
        &::before {
          position: absolute;
          content: "";
          display: block;
          height: 30px;
          width: 45px;
        }
      }

      .open-rounded-corner-top {
        &::after,
        &::before {
          top: -30px;
          right: 0px;
          background-color: #fff;
        }
        &::after {
          background-color: $left-menu-background;
          border-radius: 0px 0px 50% 0px;
        }
      }
      .open-rounded-corner-bottom {
        &::after,
        &::before {
          bottom: -30px;
          right: 0px;
          background-color: #fff;
        }
        &::after {
          background-color: $left-menu-background;
          border-radius: 0px 50% 0px 0px;
        }
      }
    }
    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
      pointer-events: none;
      a {
        cursor: not-allowed;
        text-decoration: none;
      }
    }
    &:not(.has-tick)::before {
      content: "";
      min-height: 5px;
      min-width: 5px;
      border-radius: 50%;
      background-color: $font-color-primary;
      margin-right: 1em;
    }
    &.has-tick {
      svg {
        font-size: 1rem;
        color: #828282;
      }
    }
    &.has-tick.done {
      svg {
        color: $completed-green;
      }
    }
  }
}
