.transaction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
  margin: 0rem 2rem 0rem 2rem;

  .heading {
    font-size: 1rem;
  }
  .transaction-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .transaction-title {
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      display: flex;
      align-items: center;
      color: #4f4f4f;
    }

    .transaction-date {
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      display: flex;
      align-items: center;
      color: #828282;
    }
  }
}

.transaction:last-child {
  border-bottom: none;
}
