.icon-container {
  position: relative;
  padding: 12px;
  /* (Important) Siblings are positioned for stacking */

  /* Sibling 1: icon */
  .icon {
    position: relative;
    color: $font-color-primary;
  }
  &:hover .icon {
    color: white;
  }

  /* Sibling 2: popup */
  .icon-popover {
    position: absolute;
    right: 0;
    top: 0;
    background: $font-color-primary;
    color: white;
    border-radius: 8px;
    border: 0px solid transparent;
    padding-top: 48px;
    padding-bottom: 12px;
    margin: 0px;
  }
}
