.dashboard-left-panel {
    padding-top: 20px;


    .legend-container{
        >li>ul>li{
            float: left;
        }
        >li>ul{
            display: block;
            width: 100%;
        }
    }

    >div {
        margin-bottom: 15px;

        span {
            &:last-child {
                color:var(--color-primary-foreground);
                font-size: 14px;
                line-height: 18px;
                padding-top: 5px;
            }

            &:first-child {
                color:var(--color-primary-foreground);
                font-size: 14px;
                line-height: 18px;
                padding-top: 5px;
            }
        }
    }

    .active-container {
        color: #219653;

        >span {
            &:last-child {
                padding-top: 15px;
            }
        }

    }
}
