.loan-value{
    line-height: 36px;
    font-size: 16px;
    font-weight: 500;
    color:var(--color-primary-foreground);
}
.loan-title{
    //line-height: 36px;
    font-size: 12px;
    font-weight: 400;
    color:var(--color-primary-foreground);
}
.pad-right-20{
    padding-right: 20px;
}
.align-center{
    align-items: center;
    //justify-content: center;
}
.loan-count-title{
    font-size: 12px;
    font-weight: 500;
    color: #828282;
}
.loan-count{
    margin-left: 10px;
    color:var(--color-primary-foreground);
    font-size: 14px;
    font-weight: 500;
}
.tile-title{
    font-size: 18px;
    font-weight: 500;
    color:var(--color-primary-foreground);
    margin-bottom: 20px;
}