.add-plans-component{
    padding: 75px 100px;
    background: #fff;
    .wd-50{
        width: 50%;
        h1{
            font-size: 24px;
            font-weight: 400;
            line-height: 36px;
            color: black;
            margin-bottom: 20px;
        }
    }
    
}