.align-item-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}
.mr-20 {
  margin-right: 1.25rem;
}
.payroll-search-button {
  width: 6.25rem;
  height: 2.25rem;
  color: #2f80ed !important;
  border: 0.063rem solid #2f80ed !important;
  margin-top: 0.875rem;
  justify-content: center;
  line-height: 1.313rem;
}
.payroll-filter-card {
  width: 60%;
  height: 4.813rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 47.625rem) {
  .payroll-filter-card {
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    align-items: flex-start;
    margin-left: 0rem;
  }
}
