.pay-dates-details {
  font-size: 0.75rem;
}

.cspl-table {
  .column-sno {
    width: 2%;
  }
  .column-pay-date {
    width: 26%;
  }
  .column-pay-period-begin-date {
    width: 26%;
  }
  .column-pay-period-end-date {
    width: 26%;
  }
  .column-pay-period-status {
    width: 20%;
  }
}
