.additional-enrollment-table {
  max-width: 90%;
  .column-addtional-Enrollment-description {
    width: 80%;
  }

  .column-action {
    width: 20%;
  }
}

.add-rules-button {
  margin-right: 10%;
}

.different-participants-election-table {
  max-width: 100%;
  .column-investment {
    width: 10%;
  }
  .column-action {
    width: 10%;
  }
}
