.cspl-table {
  .column-frequency-name {
    width: 25%;
  }
  .column-frequency {
    width: 25%;
  }
  .column-schedule-start-date {
    width: 20%;
  }
  .column-schedule-end-date {
    width: 15%;
  }
  .column-next-pay-date {
    width: 15%;
  }
}
