.form-control + .check-cirle {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-top: 0px;
  svg {
    font-size: 1rem;
    align-self: center;
  }
  &.valid {
    color: $completed-green;
  }
  &.invalid {
    color: $input-border-invalid-color;
  }
  .spinner-border {
    border-width: 0.1em;
  }
}

form {
  .form-label {
    position: relative;
    .optional-side-text {
      padding: 0.05rem 0.3rem;
      font-size: 0.65rem;
      color: #828282;
      position: absolute;
      left: 100%;
    }
  }
}
