  .highlighted-red{
    color: red !important;
  }
  .btn-size-sm button{
    font-size: .75rem;
    width: 75px;
  }
  .active-border{
    background-color: rgba(58, 57, 116, 0.25);
    color: #3a3974 !important;
    border: 1px solid #3a3974 !important;
    padding: 0.469rem 0.9375rem !important;
  }
  .elibility-sort button{
    width: 220px !important;
    margin-left: 15px;
  }
  .form-sort{
    margin-top: 18px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .category-sorting{
    .elibility-sort button{
    font-size: 12px;
    }
  }
  .elibility-summary-sort{
    width: 140px;
  }
  .elibility-summary-sort button{
    font-size: 12px;
    height: 36px;
    text-transform: capitalize;
    font-weight: 400;
  }
  .br-0 button{
    border-radius: 5px 0px 0px 5px !important;
  }
  .bl-0 button{
    border-radius: 0px 5px 5px 0px !important;
  }
  .br-4{
    border-radius: 5px 0px 0px 5px !important;
  }
  .bl-4{
    border-radius: 0px 5px 5px 0px !important;
  }
  .elibility-summary-sort{
  .sort-field-label{
    border: 1px solid #949494 !important;
    border-right-width: 0px !important;
    background: #fff;
    color: #000;
    border-radius: 5px 0px 0px 5px;
    padding: 5px !important;
    width: 85px;
  }
}
.border-cut{
  .form-control{
    border-radius: 0px 5px 5px 0px;
  }
}
.placeholder-text{
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  padding-top: 60px;
  color: #d3d3d3;
}

.eligibility-table{
  .cspl-table {
    .table-head-cell{
      padding-left: .5rem;
    }
    .table-cell{
      padding-left: .5rem;
    }
    .column-companyName {
      width: 14%;
    }
    .column-planId {
      width: 8%;
    }
    .column-planName {
      width: 10%;
    }
    .column-statusPlan {
        width: 21%;
    }
    .column-statusSource {
        width: 21%;
    }
    .column-processDate {
        width: 18%;
    }
  }
}