//Default Election Css

.investment-add {
  width: 482px;
}

.inner-investment-add {
  height: 140px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 0px 5px 5px 0px;
}

.inner-investment-text {
  width: 195px;
  font-size: 18px;
  font-weight: normal;
  line-height: 27px;
  color: #bdbdbd;
  margin: 29px 248px 84px 40px;
}

.add-button {
  width: 143px;
  height: 40px;
  background: #3a3974;
  border-radius: 5px;
  margin: -69px 299px 0 40px;
  cursor: pointer;
}

.add-button-text {
  padding: 9.5px 15px 9.5px 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.add-button-inside {
  display: flex;
  width: 55px;
  height: 24px;
  background: #ffffff;
  border: 1px solid #3a3974;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
}
.add-button-inner-text {
  width: 21px;
  height: 15px;
  color: #3a3974;
  font-weight: 500;
  font-size: 10px;
  margin: 4.5px 17px 4.5px 17px;
}

.added-button-inside {
  display: flex;
  width: 55px;
  height: 24px;
  background: #ffffff;
  border: 1px solid #bfbfbf;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
}

.added-button-inner-text {
  width: 34px;
  height: 15px;
  color: #bfbfbf;
  font-weight: 500;
  font-size: 10px;
  margin: 5px 10px 4px 11px;
}

.inside-content {
  margin-top: -30px;
}

.investment-heading {
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  color: #333333;
}

.investment-sub-heading {
  width: 162px;
  height: 18px;
  font-weight: normal;
  font-size: 12px;
  color: #bfbfbf;
  margin-top: -12px;
}

.search-bar-investment {
  width: 100%;
}

.investment-side-content {
  margin-top: 7px;
  height: 18px;
  font-weight: normal;
  font-size: 12px;
  color: #bfbfbf;
}

.content-end {
  justify-content: flex-end;
}

.investment-name {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.main-contribution-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.contribution-sub-title {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #828282;
  margin-top: -10px;
}

.List-investment-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}
