.optionBtn {
  display: none;
}

.optionsDiv {
  margin-top: 0.625rem;
  width: 18.9rem;
  flex-flow: row wrap;
  display: flex;
  height: 36px;
  justify-content: space-between;
}

.optionsDiv input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0px;
}

.optionsDiv label:hover {
  border: 1px solid #2f80ed;
  cursor: pointer;
}

.optionsDiv input[type="radio"]:focus + label {
  background: #dedfe9;
}

.optionLabel {
  height: 25px;
  padding: 15px 20px 15px 20px;
  border: 1px;
  border-style: solid;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  border-radius: 20px;

  justify-content: center !important;
  display: flex !important;
  align-items: center !important;
  color: gray;
  /* margin-right:12px; */
}

.checkedit {
  background: #dedfe9;
  border: 1px solid #2f80ed;
}

.optionsDiv input[type="radio"]:checked + label {
  background: rgba(0, 108, 243, 0.2);
  mix-blend-mode: normal;
  border: 1px solid #2f80ed;
  color: black;
}

.cardCss {
  background: #f7f7f7;
  display: flex;
  height: 4.375rem;
  max-width: 100%;
  overflow: hidden;
  width: 18.125rem;
  border-radius: 0.313rem;
  margin-bottom: 0.938rem;
  cursor: move;
}

.cardCss2 {
  background: white !important;
  display: flex;
  height: 4.375rem;
  max-width: 100%;
  overflow: hidden;
  width: 18.125rem;
  border: none !important;
  border-radius: 0rem !important;
}

.ellipsis {
  overflow: hidden;
  position: absolute;
  display: flex;
  top: 25%;
  width: 8%;
  /* border: 2px solid #21ce5b; */
  justify-content: space-evenly;
}

.fieldTitle {
  /* border: 2px solid blue !important; */
  width: 50%;
  height: 40%;
  position: absolute;
  display: flex;
  align-items: center;
  left: 10%;
  top: 15%;
  min-width: 0;
}

.fieldText {
  font-family: Poppins;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: 0;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 7px;
}

.columnTitle {
  /* border: 2px solid olive; */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
  height: 40%;
  right: 5%;
  top: 15%;
  /* top: 10%; */
  min-width: 0;
}

.columnText {
  font-family: Poppins;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.sampleData {
  /* border: 2px solid darkorange !important; */
  width: 50%;
  height: 40%;
  position: absolute;
  display: flex;
  align-items: center;
  left: 10%;
  top: 45%;
  min-width: 0;
}

.sampleDataText {
  font-family: Poppins;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0;
  text-align: left;
  color: #bdbdbd;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.sampleValueText {
  color: #828282;
  font-weight: 500;
}

.dataType {
  /* border: 2px solid goldenrod; */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
  height: 40%;
  right: 5%;
  top: 45%;
  min-width: 0;
}

.dataTypeText {
  font-family: Poppins;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  text-align: right;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.fieldText:hover {
  overflow: visible;
}

.SourceContainer {
  //  border: 0.125rem solid black !important;
  // width: 19.125rem;
  margin-top: 0 !important;
  height: 30rem;
  display: flex;
  flex-direction: column;
}

.SourceSearchButtonContainer {
  /* border: 0.125rem solid blue !important; */
  width: 19.125rem;
  display: flex;
  justify-content: space-between;
}

.SourceText {
  /* Source */
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: 0rem;
  text-align: left;
  height: 1rem;
  width: 3.5rem;
  left: 0rem;
  top: 0.031;
  color: #333333;
  position: static;
}

.SourceTextContainer {
  height: 1rem;
}

.searchIcon {
  height: 1rem;
}

.searchIconContainer {
  height: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.FileNameText {
  /* FP-Payroll.xls */
  position: static;
  width: 5.813rem;
  height: 1rem;
  left: 0rem;
  top: 0rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1rem;
  /* identical to box height, or 114% */
  color: #000000;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 0.625rem;
}

.NumberOfFieldsText {
  /* 18 Fields available in source file */
  position: static;
  width: 11.625rem;
  height: 1rem;
  left: 0rem;
  top: 1.313rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #bdbdbd;
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 0.313rem;
}
// ---------------------Search Bar-------------------

.SearchBarContainer {
  height: 2.188rem;
  width: 19.125rem;
  border-radius: 0.313rem;
  //  border:0.125rem solid red;
  // overflow:hidden;
  margin-top: 0.625rem;
}

.source-search-box {
  height: 2.188rem;
  width: 18.875rem !important;
  border-radius: 0.3rem !important;
  font-family: Poppins;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  text-align: left;
  border: 0.063rem solid #bdbdbd !important;
}

.mapper-source-search-text {
  border-radius: 0.3rem;
  position: relative;
  width: 19.125rem !important;
  flex-grow: 1;
  // border:0.125rem solid green;
  input {
    border-radius: 0.3rem;
  }
  .sm {
    width: 19.125rem;
    height: 2.188rem;
    padding-left: 2.063rem;
    font-size: 0.875rem;
    border-radius: 0.3rem;
    line-height: 1rem;
    position: absolute;
  }
  .plan-group-searchbar {
    width: 19.125rem;
    height: 2.188rem;
    font-size: 0.75rem;
    line-height: 1rem;
    border-radius: 0.3rem;
  }

  .source-close-button-wrapper {
    position: absolute;
    margin-left: 17.25rem;
    top: 0rem;
    display: none;
    align-items: center;
    height: 100%;
    .source-close-button {
      border: 0;
      background-color: transparent;
      svg {
        font-size: 1rem;
      }
    }
    &.active {
      display: flex;
    }
  }
  .source-close-button-pg {
    display: none;
    align-items: center;
    position: absolute;

    .source-icon-size {
      border: 0;
      background-color: transparent;
      svg {
        font-size: 1rem;
      }
    }
    &.active {
      display: flex;
    }
  }
}

.small-input-grp {
  > .mapper-source-search-text:first-child {
    display: flex;
    width: 1%;
    input {
      border-radius: 0.3rem;
      border-right-color: #fff !important;
    }
  }
  .source-close-button-wrapper {
    right: 0rem;
    .source-close-button svg {
      font-size: 1rem;
    }
  }
  .plan-search-button {
    background-color: #fff;
    border-left-color: #fff !important;
  }
}

.search-bar {
  .input-group-text {
    background: #fff;
  }
}

.fieldContainer {
  height: 19.688rem;
  width: 19.125rem;
  max-width: 100%;
  list-style: none;
  padding-left: 0;
  // border:2px solid pink;
  justify-content: center;
  overflow-y: scroll;
  margin-top: 0.625rem;
  flex-grow: 1;
}

//Configure Transformations
.function-heading {
  font-weight: 500;
  font-size: 1rem;
  // line-height: 1rem;
  color: #333333;
}

.trash-icon {
  align-self: center;
  margin-left: 0.7rem;
}
.result-function {
  display: flex;
  flex-direction: column;
}
.result-heading {
  color: #828282;
  line-height: 1.125rem;
  font-size: 0.75rem;
}
.result-value {
  margin-top: 1rem;
  align-self: center;
}
//-----Toggle switch-------
.Editor-heading {
  font-size: 00.875rem;
  color: #333333;
}

.drop-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 1.25rem;
  height: 1.5rem;
  border: 0.5px solid #e0e0e0;
  border-radius: 3px;
  margin-right: 5px;
}

.mapped-header {
  margin-left: 8.5rem;
  width: 00.625rem;
  height: 1rem;
  cursor: pointer;
}

.layout-drop {
  width: 19rem;
  height: 4.8rem;
  border-style: dotted;
  border-width: thin;
  color: grey;
  background-color: #dfecff;
}

.mt-3 {
  margin-top: 3px;
}

.dropped-container {
  display: flex;
  margin-top: 3px;
  width: 18.125rem;
  .configure-icon {
    align-self: flex-end;
    color: #4f4f4f;
    cursor: pointer;
  }
}

.optionBtnSlideout {
  display: none;
}
// .optionsDivSlideout {
//   margin-top: 0.625rem;
//   // width: 18.9rem;
//   flex-flow: row wrap;
//   display: flex;
//   height: 36px;
//   justify-content: space-between;
// }

.optionsDivSlideout input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0px;
}

.optionsDivSlideout label:hover {
  border: 1px solid #2f80ed;
  cursor: pointer;
}

.optionsDivSlideout input[type="radio"]:focus + label {
  background: #dedfe9;
}

.optionLabelSlideout {
  // height: 25px;
  // padding: 15px 20px 15px 20px;
  border: 1px solid white;
  // border-style: solid;
  // font-size: 12px;
  // font-weight: 500;
  // text-align: center;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  // justify-content: center !important;
  // display: flex !important;
  // align-items: center !important;
  color: gray;
  /* margin-right:12px; */
}

.checkedit {
  background: #dedfe9;
  border: 1px solid #2f80ed;
}

.optionsDivSlideout input[type="radio"]:checked + label {
  background: rgba(0, 108, 243, 0.2);
  mix-blend-mode: normal;
  border: 1px solid #2f80ed;
  color: black;
}

.click-to-select-slideout {
  opacity: 1;
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.2);
}

.click-to-select-slideout {
  position: fixed;
  background-color: white;
  height: 100vh;
  right: 0px;
  top: 50px;
  z-index: 2;
  overflow: hidden;
  /* width:0px; */
  // transition: all 0.75s ease;
}

.field-operation-functions {
  display: flex;
  .function-text-fields {
    display: inline-block;
    margin-right: 0.4rem;
  }
  .function-result-field {
    margin-left: 3rem;
  }
  .delete-function-icon {
    display: flex;
    margin-top: 2.5rem;
  }
}

.dropped-card {
  display: flex;
  .delete-dropped-icon {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    cursor: pointer;
  }
}

.transform-target-text {
  margin-left: 80% !important;
  position: absolute !important;
}
