.cspl-table {
    .column-distributionName {
      width: 30%;
    }
    .column-distributionType {
      width: 30%;
    }
    .column-column-distributionWithEarning{
        width: 60%;
    }
  }
  
.total-distribution{
  margin-right: 14.5%;
}