.highlevel-plan-details {
  .plan-label {
    font-size: 0.65rem;
    color: $header-label-color;
  }
  .plan-value {
    font-size: 0.9rem;
    font-weight: 500;
  }
}

.top-level-tab {
  width: max-content;
  border-bottom: 1px solid $input-placeholder-color;
  .nav-item.nav-link {
    border: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0rem;
    margin-right: 3rem;
    color: #828282 !important;
    font-size: 0.875rem;
    &:first-child {
      margin-left: 0px;
    }
  }
  .nav-item.nav-link.active {
    margin-bottom: 0px;
    font-weight: 500;
    border-bottom: 3px solid $primary;
    color: #000000 !important;
  }
}
.top-level-tab-enrollment {
  width: max-content;
  border-bottom: 1px solid $input-placeholder-color;
  .nav-item.nav-link {
    border: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0rem;
    margin-right: 3rem;
    // border-top: 3px solid #2F80ED;
    color: #828282 !important;
    font-size: 0.875rem;
    &:first-child {
      margin-left: 0px;
    }
  }
  .nav-item.nav-link.active#visited-tab-1 {
    margin-bottom: 0px;
    font-weight: 500;
    border-top: 3px solid #2f80ed;
    color: #000000 !important;
  }
  // #saved-tab-1
  // {
  //   border-top: 3px solid #219653;
  // }
  // #saved-tab-2
  // {
  //   border-top: 3px solid #219653;
  // }
  .nav-item.nav-link.active#error-tab-1 {
    margin-bottom: 0px;
    font-weight: 500;
    border-top: 3px solid #eb5757;
    color: #000000 !important;
  }
}

.deposit_histoy_tabs {
  .nav-tabs {
    border-bottom: 0px !important;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    .nav-item.nav-link {
      color: #949494;
      background: #ffffff;
      border: 1px solid $input-placeholder-color;
      border-radius: 20px;
      margin-right: 1.25rem;
      font-size: 0.75rem;
    }
    .nav-item.nav-link.active {
      margin-bottom: 0px;
      font-weight: 500;
      border: 1px solid $primary;
      color: #000000 !important;
      background: rgba(58, 57, 116, 0.15);
    }
  }
  .tab-content {
    border-top: 1px solid $input-placeholder-color;
  }
  .search-bar {
    width: 280px;
    margin-left: 20px;
  }
  .search-icon-postion {
    color: #747474;
    z-index: 6;
    position: absolute;
    margin-left: 13px;
    margin-top: 8px;
  }
  .mb-14 {
    margin-bottom: 14px;
  }
  .h-70 {
    height: 70px;
  }
  .mb-5 {
    margin-bottom: 5px;
  }
  .ft-12 {
    font-size: 12px;
  }
  .lh-18 {
    line-height: 18px;
  }
  .w-238 {
    width: 238px;
  }

  .pad-left-search {
    position: absolute !important;
    padding-left: 40px !important;
    margin-left: 0px !important;
    border-radius: 5px !important;
  }
  .flex-space {
    display: flex;
    justify-content: space-between;
  }
  .mt-50 {
    margin-top: 50px;
  }
  .selectall {
    margin-left: 30px;
    line-height: 21px;
  }
  .clearall {
    margin-right: 30px;
    line-height: 21px;
  }
}

.cspl-table {
  .column-deferrals-source {
    width: 25%;
  }
  .column-miniumDeferral {
    width: 25%;
  }
  .column-maximumDeferral {
    width: 25%;
  }
  .column-deferrals {
    width: 25%;
  }
  .column-loanId {
    width: 25%;
  }
  .column-outstandingLoanAmount {
    width: 25%;
  }
  .column-periodicPaymentAmount {
    width: 25%;
  }
  .column-loanStatus {
    width: 25%;
  }
}

.eligibility-override {
  .column-sourceName {
    width: 0%;
  }
  .column-eligibilityRequirementMetDate {
    width: 70px;
  }
  .column-eligiblityStatus {
    width: 0;
  }
  .column-entryDate {
    width: 70px;
  }
  .column-anchorEligibility {
    width: 0%;
  }
  .column-payrollBasedEligibility {
    width: 0%;
  }
  .column-eligibilityHistory {
    width: 0%;
  }
  .column-computationPeriod {
    width: 0%;
  }
}

.eligibiliy-slider-table {
  font-size: 0.9rem;
  .parent-row {
    cursor: pointer;
    &.open,
    &.open + .table-row {
      background-color: #f7f7f7;
    }
  }
  .column-accordion-icon {
    width: 1%;
    padding-left: 1rem;
  }
  .column-accordion-eligiblityStatus {
    width: 15%;
  }
  .column-accordion-eligibilityRequirementMetDate {
    width: 18%;
  }
  .column-accordion-entryDate {
    width: 11%;
  }
  .column-accordion-eligibilityRunDate {
    width: 13%;
  }
  .column-accordion-anchorEligibility {
    width: 12%;
  }
  .column-accordion-effectiveStartDate {
    width: 15%;
  }
  .column-accordion-effectiveEndDate {
    width: 15%;
  }
  .accordion-wrapper {
    padding: 0px;
    padding-left: 1rem;
    .accordion-label {
      font-weight: 500;
      font-size: 0.75rem;
      margin-bottom: 1rem;
    }
    .accordion-value {
    }
  }
}

.contributions-table {
  .column-payDate {
    width: 20%;
  }
  .column-contributionAmount {
    width: 20%;
  }
  .column-comments {
    width: 20%;
  }
  .column-updatedBy {
    width: 20%;
  }
  .column-uploadedThrough {
    width: 20%;
  }
}

.add-contributions-table {
  .column-contribution-source {
    width: 50%;
  }
  .column-contribution-perc {
    width: 50%;
  }
}

.slider-content {
  font-size: 0.9rem;
  .header-details {
    .label {
    }
    .value {
      font-weight: 500;
      color: #161e2e;
    }
  }
}

.computation-period {
  max-width: 810px;
  max-height: 630px;
  overflow-y: scroll;
  width: auto;
  .column-computationPeriodStartDate {
    width: 20%;
    font-size: 12px;
    line-height: 18px;
  }
  .column-computationPeriodEndDate {
    width: 20%;
    font-size: 12px;
    line-height: 18px;
  }
  .column-computationHours {
    width: 20%;
    font-size: 12px;
    line-height: 18px;
  }
  .column-computationType {
    width: 40%;
    font-size: 12px;
    line-height: 18px;
  }
}
.computationPeriodStartDate {
  display: flex;
  align-items: flex-start;
  width: 20%;
}
.computationPeriodEndDate {
  display: flex;
  align-items: flex-start;
  width: 20%;
}
.computationPeriodHours {
  display: flex;
  justify-content: flex-start;
  width: 20%;
}
.computationPeriodType {
  display: flex;
  justify-content: flex-start;
  width: 40%;
}
.ml-5 {
  margin-left: -5px;
}
.mt-20 {
  margin-top: 20px;
}
.w-800 {
  max-width: 800px;
}
.mw-450 {
  max-width: 450px;
}
.mr-600 {
  // margin-right: 645px;
  //direction: flex;
  justify-content: space-between;
}
.lh-21 {
  line-height: 21px;
}
.fw-500 {
  font-weight: 500px;
}
.mw-810 {
  max-width: 810px;
}
.slidercrossicon {
  font-size: 20px;
  line-height: 20px;
  color: black;
  width: auto;
}
