.cspl-table {
  .column-account-number {
    width: 30%;
  }
  .column-routing-number {
    width: 30%;
  }
  .column-account-type {
    width: 15%;
  }
  .column-account-status {
    width: 12%;
  }
  .column-default-account {
    width: 13%;
  }
}
