.new-employee-report {
  .label-sort {
    width: 80px;
    background: #e5e5e5;
  }
  .cspl-table {
    .table-head-cell{
      padding-left: .5rem;
    }
    .table-cell{
      padding-left: .5rem;
    }
    .column-companyName {
      width: 14%;
    }
    .column-planId {
      width: 6%;
    }
    .column-planName {
      width: 10%;
    }
    .column-statusPlan {
      width: 19%;
    }
    .column-statusSource {
      width: 21%;
    }
    .column-processDate {
      width: 14%;
    }
    .column-hostedMode {
      width: 15%;
    }
  }
}

.column-plan-employeeName {
  width: 25%;
}
.column-plan-eligibilityStatus {
  width: 25%;
}
.column-plan-eligibilityDate {
  width: 25%;
}
.column-plan-eligibileSince {
  width: 25%;
}

.column-source-employeeName {
  width: 20%;
}
.column-source-eligibilityStatus {
  width: 20%;
}
.column-source-eligibilityDate {
  width: 20%;
}
.column-source-eligibileSince {
  width: 20%;
}
.column-source-sourceName {
  width: 20%;
}
