.home-widget-card {
  display: flex;
  position: relative;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  transition: transform 0.2s;
  align-items: center;
  height: 125px;
  max-width: 280px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  border-left: 5px solid $primary;
  padding: 15px;
  &:hover:not(.disabled) {
    text-decoration: none;
    color: inherit;
    transform: scale(1.2);
  }
  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  .widget-icon {
    padding: 10px;
    max-width: 100px;
    img {
      max-width: 100%;
    }
  }
  .widget-content {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: flex-start;
    .widget-label {
      font-size: 18px;
      line-height: 27px;
      padding-bottom: 10px;
      text-transform: capitalize;
    }
    .widget-count {
      font-weight: 300;
      font-size: 18px;
      line-height: 27px;
      text-transform: capitalize;
      font-feature-settings: "tnum" on, "lnum" on;
    }
  }
  .spinner-row {
    font-size: 7px;
  }
  .spinner-border-sm {
    height: 10px;
    width: 10px;
    border-width: 0.4em;
  }
  .add-icon {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  @media only screen and (max-width: 1439px) {
    &:hover:not(.disabled) {
      transform: scale(1.1);
    }
  }
}
