.vertical-tabs {
  .nav-item {
    font-size: 0.9rem;
    &:last-child {
      a.nav-link {
        border-bottom: 1px solid #d5d5d5;
      }
    }
    a.nav-link {
      background: #fafafa;
      border-top: 1px solid #d5d5d5;
      font-size: 12px;
      color: #828282 !important;
      .ssn-number {
        color: #4f4f4f;
        font-size: 14px;
      }
    }
    a.nav-link.active {
      background-color: #ffffff;
      border-radius: 0px;
      border-right: 0px;
      right: -1px;
      position: relative;
      z-index: 1;
      border-left: 3px solid $primary;
      font-size: 14px;
      font-weight: 500;
      color: #333333;
      .ssn-number {
        color: #333333;
      }
    }
  }
  .search-control-wrapper {
    background: #fafafa;
    padding: 0.675rem;
    input {
      border: 1px solid #bdbdbd;
      border-radius: 5px;
      font-size: 0.825rem;
    }
  }
  .tab-content {
    .tab-pane.active {
      height: 100%;
      background: #ffffff;
      border: 1px solid #bdbdbd;
      box-sizing: border-box;
      border-radius: 0px 5px 5px 0px;
    }
    .error-details-tab {
      position: relative;
      padding: 1rem 1rem;
      .nav {
        background-color: #ffffff;
        .nav-item {
          font-weight: 500;
          font-size: 14px;
          line-height: 150%;
          text-align: center;
          color: #828282;
          padding: 0.9rem;
          width: auto;
          &.active {
            border-bottom: 3px solid $primary;
          }
        }
      }
      .tab-pane {
        border: 0px;
      }
      .payroll-census-tabs {
        width: 70%;
      }
      .payroll-error-details-tabs {
        width: 30%;
      }
      .payrol-cencus-button-wrapper {
        white-space: nowrap;
        padding-bottom: 0.75rem;
        border-bottom: 1px solid #dee2e6;
        text-align: end;
        .payroll-delete {
          border: 1px solid #f16973;
          color: #f16973;
        }
      }
      .error-details-tab-wrapper {
        margin-top: 0px;
        background: #fbfbfb;
        border-radius: 0px 5px 5px 0px;
        padding: 1rem;
        .nav,
        .nav .nav-item.active,
        .tab-pane.active {
          background: transparent;
        }
      }
    }
  }
}
