.form-control-seach-text {
  position: relative;
  flex-grow: 1;
  input {
    border-radius: 0 0.3rem 0.3rem 0;
  }
  .sm {
    width: 300px;
    height: 36px;
    padding-left: 33px;
    font-size: 14px;
    border-radius: 0.3rem;
  }
  .plan-group-searchbar {
    width: 381px;
    height: 36px;
    font-size: 12px;
    line-height: 18px;
    border-radius: 0.3rem;
  }

  .close-button-wrapper {
    position: absolute;
    right: 0.2em;
    top: 1.25em;
    display: none;
    align-items: center;
    height: 100%;
    .close-button {
      border: 0;
      background-color: transparent;
      svg {
        font-size: 1.75rem;
      }
    }
    &.active {
      display: flex;
    }
  }
  .close-button-pg {
    display: none;
    align-items: center;
    position: absolute;
    left: 53% !important;
    right: 53.82% !important;
    top: 20.09% !important;
    //bottom: 66.85% !important;
    height: 22px !important;
    width: 12px !important;
    .icon-size {
      border: 0;
      background-color: transparent;
      svg {
        font-size: 0.875rem;
      }
    }
    &.active {
      display: flex;
    }
  }
}

.small-input-grp {
  > .form-control-seach-text:first-child {
    display: flex;
    width: 1%;
    input {
      border-radius: 0.3rem 0 0 0.3rem;
      border-right-color: #fff !important;
    }
  }
  .close-button-wrapper {
    right: 0px;
    .close-button svg {
      font-size: 1rem;
    }
  }
  .plan-search-button {
    background-color: #fff;
    border-left-color: #fff !important;
  }
}

.search-bar {
  .input-group-text {
    background: #fff;
  }
}
