.form-control.form-button-group {
  padding: 0px;
  border: 0px;
  > div {
    height: 100%;
  }
  button {
    white-space: nowrap;
    flex-basis: 0px;
    min-height: 100%;
    border: 1px solid $input-border-color;
    border-right-width: 0px;
    &:last-child {
      border-right-width: 1px;
    }
    &.selected {
      min-height: 100%;
    }
    &:focus {
      border-color: $primary;
    }
  }
}
.display-flex {
  display: flex;
  flex-direction: row;
}
.marg-right-12 {
  margin-right: 12px;
}
.tooltip-basic {
  position: relative;
  display: inline-block;
}
.tooltip-basic .tooltiptext {
  visibility: hidden;
  width: 280px;
  background-color: black;
  font: 14px;
  line-height: 21px;
  color: #fff;
  position: absolute;
  height: 36px;
  z-index: 1;
  left: 50%;
  padding: 7.5px 0px 7.5px 0px;
  border-radius: 5px;
  margin-left: -45px;
  margin-top: 23px;
}

.tooltip-basic .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -100px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.tooltip-basic:hover .tooltiptext {
  visibility: visible;
}

.tooltip-qaca {
  position: relative;
  display: inline-block;
}
.tooltip-qaca .tooltiptext {
  visibility: hidden;
  width: 280px;
  background-color: black;
  font: 14px;
  line-height: 21px;
  color: #fff;
  position: absolute;
  height: 36px;
  z-index: 1;
  left: 50%;
  padding: 7.5px 0px 7.5px 0px;
  border-radius: 5px;
  margin-left: -158px;
  margin-top: 23px;
}

.tooltip-qaca .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: 12.5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.tooltip-qaca:hover .tooltiptext {
  visibility: visible;
}

.invalid {
  .form-control.form-button-group {
    button {
      border-color: $input-border-invalid-color;
    }
  }
}
