.cspl-table {
  /*height: 100%;*/
  overflow: hidden;
  a {
    &:hover {
      font-weight: 500;
    }
    color: $link;
  }
  .column-eligibilityName {
    width: 40%;
  }
  .column-eligibilityFor {
    width: 60%;
    align-items: flex-start;
  }
  .column-eligibilityType {
    width: 30%;
  }
  .btn-theme {
    color: #fff;
    background-color: #3a3974;
    border: 1px solid #3a3974;
    border-radius: 4px;
    padding: 0px 10px;
  }
}

.sub-head {
  font-size: 18px;
}
.ft-20 {
  font-size: 20px;
}
textarea {
  font-size: 0.75rem !important;
  font-weight: 400;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid $input-placeholder-color;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
}

.cspl-table {
  .column-employee-classification-name {
    width: 100%;
  }
}
