.cspl-table {
  .column-investment-name {
    width: 20%;
  }
  .column-investment-type {
    width: 20%;
  }
  .column-investment-ticker {
    width: 20%;
  }
  .column-investment-status {
    width: 20%;
  }
  .column-investment-is-added {
    width: 20%;
  }
}
