.freqText {
  position: static;
  height: 18px;
  left: 0px;
  top: 0px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #828282 !important;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0px 5px;
}
.displayOptn {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.ScheduleButtonGroup {
  width: 337px;
  height: 36px;
}
.ScheduleButton {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */
  text-align: center;
  text-transform: capitalize;
}

.ScheduleButton.active {
  background: #cecddc !important;
  color: black !important;
  border: 1px solid #3a3974 !important;
}
.ScheduleButton:focus {
  background: #cecddc !important;
  color: black !important;
  border: 1px solid #3a3974 !important;
  font-weight: 500 !important;
}

.SchedDropDown {
  margin-top: 5px;
  width: 337px;
  border: 2px solid black;
}

.inputBox {
  width: 200px;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
  font-size: 13px;
  margin-left: 20px;
}

.FtpInputField {
  font-size: 14px !important;
}
.SFTPFieldsText {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #828282;
  margin: 5px 0 5px 0;
}

.SFTPDetailsText {
  width: 86px;
  height: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #333333;
  // margin: 20px 0px;
}

.FTPButtonGroup {
  width: 240px;
  height: 36px;
}
.FTPButton {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */
  text-align: center;
  text-transform: capitalize;
}

.FTPButton.active {
  background: rgba(47, 128, 237, 0.3) !important;
  color: black !important;
  border: 1px solid #2f80ed !important;
}

.FTPButton:focus {
  background: rgba(47, 128, 237, 0.3) !important;
  color: black !important;
  border: 1px solid #2f80ed !important;
  font-weight: 500 !important;
}

.SliderBtn {
  border: none;
  background-color: white;
  color: #2f80ed;
  font-family: Poppins;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}

.SliderBtn:hover {
  border: none;
  text-decoration: underline;
  cursor: pointer;
  border: none;
  background-color: white;
  color: #2f80ed;
  font-family: Poppins;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}

.SliderBtn:focus {
  border-style: none !important;
  text-decoration: underline;
  background-color: white;
  color: #2f80ed;
  font-family: Poppins;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}

.SliderBtn:active {
  border: none !important;
  background-color: white;
  color: #2f80ed;
  font-family: Poppins;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}

.slider-content {
  padding: 40px !important;
}

.sliderHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 10px;
}

.radioBtn {
  display: flex;
  margin-right: 10px;
}
.btnLabel {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.labelText {
  display: flex;
  justify-content: center;
  align-items: center;
}

#divScheduler .dropdown {
  width: 200px;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  // overflow-x: hidden;
  // overflow-y:scroll ;
}

#divScheduler .dropdownCheckList {
  min-width: 150px;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  // padding:9px;
  display: flex;
  justify-content: space-between;
  // border:2px solid red;
  cursor: default;

  // overflow-x: hidden;
  // overflow-y:scroll ;
}
#divScheduler .dropdownCheck-header {
  padding: 15px;
  // cursor: pointer;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: black;
  cursor: default;
}

#divScheduler .dropdown-header {
  padding: 15px;
  // cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  color: black;
}

#divScheduler .dropdown-body {
  padding: 5px;
  border-top: 1px solid #e5e8ec;
  display: none;
}
#divScheduler .dropdownCheck-body {
  padding: 5px;
  border-top: 1px solid #e5e8ec;
  display: none;
  position: absolute;
  cursor: default;
}
#divScheduler .dropdownCheck-body.open {
  display: block;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
  position: absolute;
  min-width: 165px;
  background-color: white;
  height: 200px;
  overflow-y: scroll;
  z-index: 1000;
  margin-top: 40px;
  cursor: default !important;
}
#divScheduler .dropdown-body.open {
  display: block;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
  position: absolute;
  width: 200px;
  background-color: white;
  height: 200px;
  overflow-y: scroll;
  z-index: 1000;
}

#divScheduler .dropdown-item {
  padding: 10px;
  cursor: default !important;
  // cursor: pointer;
}

// .dropdown-item:hover {
//   cursor: pointer;
// }

#divScheduler .dropdown-item.selected {
  background-color: #bdbdbd;
}

.icon {
  font-size: 13px;
  color: black;
  // transform: rotate(0deg);
  // transition: all .2s ease-in-out;
}

//   .icon.open {
//     transform: rotate(90deg);
//   }

.dropdown2 {
  width: 200px;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  // overflow-x: hidden;
  // overflow-y:scroll ;
}

.dropdown2CheckList {
  min-width: 150px;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  // padding:9px;
  display: flex;
  justify-content: space-between;
  // border:2px solid red;
  cursor: default;

  // overflow-x: hidden;
  // overflow-y:scroll ;
}
.dropdown2Check-header {
  padding: 15px;
  // cursor: pointer;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: black;
  cursor: default;
}

.dropdown2-header {
  padding: 15px;
  // cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.dropdown2-body {
  padding: 5px;
  border-top: 1px solid #e5e8ec;
  display: none;
}
.dropdown2Check-body {
  padding: 5px;
  border-top: 1px solid #e5e8ec;
  display: none;
  position: absolute;
  cursor: default;
}
.dropdown2Check-body.open {
  display: block;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
  position: absolute;
  min-width: 165px;
  background-color: white;
  height: 200px;
  overflow-y: scroll;
  z-index: 1000;
  margin-top: 40px;
  cursor: default !important;
}
.dropdown2-body.open {
  display: block;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
  position: absolute;
  width: 200px;
  background-color: white;
  height: 150px;
  overflow-y: scroll;
  z-index: 1000;
}

.dropdown2-item2 {
  padding: 10px;
  cursor: default !important;
  // cursor: pointer;
}

.dropdown2-item2:hover {
  cursor: pointer;
  background-color: #e6e6e6;
}

.dropdown2-item2.selected {
  background-color: #bdbdbd;
}

.icon {
  font-size: 13px;
  color: black;
  // transform: rotate(0deg);
  // transition: all .2s ease-in-out;
}
