.empClass {
  border: black;
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 500px;
  button {
    width: 150px;
    margin-top: 5px;
    margin-left: 10px;
  }
}
.lblempClass {
  margin-top: 20px;
  font-size: 20px;
  margin-left: 10px;
}

.compensation-table_category {
  .btn-group {
    display: inline-flex;
  }
  .form-group.xxl .form-control,
  .form-group .dropSide-popup .xxl .form-control {
    width: unset !important;
  }
}

.compensation-table {
  width: 100%;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 5px 5px 0px 0px;
  margin-bottom: 0%;
  .compensation-table-row,
  .compensation-table-body,
  .compensation-table-head {
    width: 100%;
  }

  .compensation-table-head-cell,
  .compensation-table-cell {
    flex: 1 0 auto;
    padding-left: 1rem;
    padding-bottom: 12px;
    color: #4f4f4f;
  }
  .compensation-table-head {
    background-color: white;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 5px;
    .compensation-table-head-cell {
      min-height: 40px;
      align-items: center;
      font-weight: 500;
      font-size: 12px;
    }
  }

  .compensation-table-body {
    overflow-y: auto;
    overflow-x: hidden;
    .compensation-table-row {
      border: 1px solid #f2f2f2;
      .compensation-table-cell {
        font-size: 14px;
        align-items: center;
        .form-group {
          margin: 0px;
        }
      }
    }
  }

  .compensation-categories {
    padding-top: 18px;
    width: 50%;
    font-weight: 400;
  }

  .plan-added-tables {
    width: 50%;
  }
  .plan-compensation {
    padding-left: 4%;
    padding-top: 9px;
    font-weight: 400;
  }

  .compensation-categories-head {
    padding-left: 16px;
    padding-top: 18px;
    width: 50%;
    font-style: normal;
    line-height: 18px;
    font-weight: 500;
  }

  .plan-compensation-head {
    padding-left: 6.5%;
    padding-top: 18px;
    width: 50%;
    font-style: normal;
    line-height: 18px;
    font-weight: 500;
  }

  .compensation-table-row:nth-child(even) {
    background-color: #f9f9f9;
  }
}

.compensation-link {
  color: #3c50e8;
  font-size: 12px;
}

.mnl-15 {
  margin-left: -10px;
}

.w-25 {
  width: 25%;
}
