.cspl-table {
  .column-investment-name {
    width: 35%;
  }
  .column-allocation-perc {
    width: 35%;
  }
  .column-new-allocation-perc {
    width: 30%;
  }

  .column-inv-effective-start-date {
    width: 35%;
  }
  .column-inv-effective-end-date {
    width: 35%;
  }
  .column-inv-applicable-types {
    width: 30%;
  }
}
