.employee-container {
  width: 100%;
  padding: 0rem 1rem;
  .cspl-table {
    .column-employeeName {
      width: 20%;
    }
    .column-employeeId {
      width: 15%;
    }
    .column-employeeStatus {
      width: 15%;
    }
    .column-ssn {
      width: 15%;
    }
    .column-company {
      width: 15%;
    }
    .column-plan {
      width: 20%;
    }
    .column-companyName {
      width: 15%;
    }
    .column-planId {
      width: 15%;
    }
    .column-planName {
      width: 15%;
    }
    .column-participantsEnrolled {
      width: 15%;
    }
    .column-participantsNotEnrolled {
      width: 15%;
    }
    .column-processdate {
      width: 10%;
    }
    .column-hostedMode {
      width: 20%;
    }

    .column-participantName {
      width: 20%;
    }
    .column-status {
      width: 15%;
    }
    .column-entryDate {
      width: 15%;
    }
    .column-enrollmentDate {
      width: 15%;
    }
    .column-reason {
      width: 35%;
    }
  }
  .placeholder-color {
    .dropSide-custom-select {
      .place-holder {
        color: #000;
      }
    }
  }
  .overlay-text {
    align-items: center;
    margin: 0;
  }
  .line-separator {
    margin-bottom: 10px;
  }
}

.records-text {
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
}

.employee-slider-table {
  .header-details {
    margin-right: 50px;
    .label {
      color: $header-label-color;
      font-size: 10px;
    }
  }
}

.eligibiliy-slider-table {
  .header-details {
    .label {
      color: $header-label-color;
      font-size: 10px;
    }
  }
}
.contributions-slider-table {
  .header-details {
    .label {
      color: $header-label-color;
      font-size: 10px;
    }
  }
}

.label-sort {
  padding: 8px;
  font-size: 12px;
  border: 1px solid #949494;
  margin-bottom: 0;
  height: 36px;
  color: #000;
  border-radius: 5px 0px 0px 5px;
  width: 120px;
  background: #e5e5e5;
}
.sort-button {
  height: 36px;
  line-height: 18px;
}

.census-tabs-head {
  .form-group.md .form-control {
    width: 270px;
  }
  .add-btn {
    background: #fff;
    border: 1px solid #3a3974 !important;
    color: #333;
  }
  .nav-tabs {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;
    .nav-link {
      border-color: $input-placeholder-color;
      border-top-width: 5px;
      border-top-style: solid;
      padding-top: 0.25rem;
      font-weight: 500;
      color: #494f5a;
      border-left: 0px;
      border-right: 0px;
      border-bottom: 0px;
      width: 18%;
      margin-right: 15px;
      border-radius: 0px;
    }
    .nav-link:hover {
      border-color: $input-placeholder-color;
      border-top-width: 5px;
      border-top-style: solid;
      padding-top: 0.25rem;
      font-weight: 500;
      color: #494f5a;
      border-left: 0px;
      border-right: 0px;
      border-bottom: 0px;
      width: 18%;
      margin-right: 15px;
      border-radius: 0px;
    }
    .tabName {
      font-weight: normal;
    }
    .active {
      border-color: #2f80ed !important;
      .tabName {
        font-weight: bold;
      }
    }
    .error {
      border-color: red !important;
    }
    .green {
      border-color: green !important;
    }
    .disabled {
      border-color: $input-placeholder-color !important;
    }
    .pl-20 {
      padding-left: 20px;
    }
    .nav-item {
      margin-bottom: 0;
    }
  }
}
.link-text {
  color: #3c50e8;
  cursor: pointer;
  font-size: 14px;
}
.border-box {
  border: 1px solid $input-placeholder-color;
  padding: 20px;
  width: 315px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.census-employee-classification {
  .cspl-table {
    .column-classificationType {
      width: 18%;
    }
    .column-classificationCode {
      width: 18%;
    }
    .column-classificationName {
      width: 18%;
    }
    .column-startDate {
      width: 18%;
    }
    .column-endDate {
      width: 18%;
    }
    .column-removebutton {
      width: 10%;
    }
  }
  .dropdown-component {
    width: 100%;
  }
  .link-area {
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 30px;
    margin-bottom: 10px;
  }
}

.compensation-container {
  .cspl-table {
    .column-payDate {
      width: 11%;
    }
    .column-payPeriodPlanCompensation {
      width: 10%;
    }
    .column-eligiblePlanCompensation {
      width: 10%;
    }
    .column-payPeriodGrossCompensation {
      width: 10%;
    }
    .column-annualSalary {
      width: 10%;
    }
    .column-sourceCompensation {
      width: 13%;
    }
    .column-comments {
      width: 10%;
    }
    .column-uploadedThrough {
      width: 13%;
    }
    .column-updatedBy {
      width: 13%;
    }
    //text-align: right;
  }
  .ft-14 {
    font-size: 14px;
  }
  .mt-10 {
    margin-top: 10px;
  }
  .mb-10 {
    margin-bottom: 10px;
  }
  .align-self {
    align-self: flex-end;
  }
  .align-center {
    align-self: center;
    height: 36px;
    line-height: 16px;
    margin-top: 13px;
  }
  .add-btn {
    background: #fff;
    border: 1px solid #3a3974 !important;
    color: #333;
  }
}

.mt-12 {
  margin-top: 12px;
}

.hours-container {
  .add-btn {
    background: #fff;
    border: 1px solid #3a3974 !important;
    color: #333;
  }
  .ft-14 {
    font-size: 14px;
  }
  .mt-10 {
    margin-top: 10px;
  }
  .mb-10 {
    margin-bottom: 10px;
  }
}

.census-rehire {
  .cspl-table {
    .column-rehireDate {
      width: 15%;
    }
    .column-termDate {
      width: 50%;
    }
    .column-action {
      width: 20%;
    }
  }
}

.pd-15 {
  padding: 15px;
}
.remove-text {
  padding: 15px;
  h4 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
  .remove-btn {
    background: #f94f50;
    color: #fff;
    border: 1px solid #f94f50 !important;
  }
  .remove-btn:hover {
    background: #f94f50;
    color: #fff;
    border: 1px solid #f94f50 !important;
  }
  .cancel-btn {
    background: #fff;
    color: #3a3974;
    border: 1px solid #3a3974 !important;
  }
}

.hours-table {
  .add-btn {
    background: #fff;
    border: 1px solid #3a3974 !important;
    color: #333;
  }
  .cspl-table {
    .column-payDate {
      width: 20%;
    }
    .column-payPeriodHours {
      width: 20%;
    }
    .column-comments {
      width: 20%;
    }
    .column-updatedThrough {
      width: 20%;
    }
    .column-updatedBy {
      width: 20%;
    }
  }
}

.loan-container {
  margin-top: 30px;
  .cspl-table {
    .column-loadId {
      width: 10%;
    }
    .column-repaymentDate {
      width: 18%;
    }
    .column-repaymentAmount {
      width: 20%;
    }
    .column-updatedThrough {
      width: 20%;
    }
    .column-dateTimeLoaded {
      width: 17%;
    }
    .column-comments {
      width: 15%;
    }
  }
}

.mt-10 {
  margin-top: 10px;
}

.eligibility-placeholder-color {
  .dropSide-custom-select {
    .place-holder {
      color: #000;
    }
  }
}

.text-black {
  color: #000;
}
