.AddPlanTiles {
  margin-bottom: 1.25rem;
  max-height: 30rem;
  overflow-x: hidden;
  //overflow-y: scroll;
}
.addPlanGroupsContent {
  display: flex;
  //justify-content: space-evenly;
  margin: 1.25rem 0rem 1.875rem 0rem;
  padding: 0rem 0rem 0rem 0rem;
  width: 64.375rem;
  height: 36.313rem;
  // border:0.125rem solid red;
}

.AddedPlansText-Slider {
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  width: 18.75rem;
  line-height: 1.313rem;
  text-align: left;
  color: #000;
  margin-bottom: 1.25rem;
  // margin-top:1.25rem;
  //border:0.125rem solid violet;
}
.GroupTitleCase {
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  width: 18.75rem;
  line-height: 1.313rem;
  text-align: left;
  color: #000;
  margin-bottom: 1.25rem;
}

.group-search {
  width: 28.125rem;
}
.group-search2 {
  width: 28.125rem;
}

.groupscol {
  display: flex;
  //justify-content: space-evenly;
  flex-direction: row;
  padding: 0.938rem 0rem 0.938rem 0.625rem;
  height: 36.25rem;
  width: 70%;
  border: 0.063rem solid #e0e0e0;
  //border:0.125rem solid brown;
  border-radius: 0.313rem;
  margin-right: 0.313rem;
}

.col1 {
  display: flex;
  flex-direction: column;
  // width: auto;
  width: 45%;
  margin-right: 1.188rem;
  height: 35rem;
  // border:0.125rem solid springgreen;
}
.AddCol {
  width: 31.563rem;
  margin-right: 0.625rem;
  border: 0.063rem solid #e0e0e0;
  margin-bottom: 1.25rem;
  height: 36.25rem;
  border-radius: 0.313rem;
  padding-top: 0.625rem;
  padding-left: 0.938rem;
  // border:0.125rem solid blue;
}
.AddCol-basic-plan {
  width: 23.813rem;
  margin-bottom: 1.25rem;
}
.PlanGroupsRight {
  width: 31.563rem;
  height: 36.25rem;
  border: 0.063rem solid #e0e0e0;
  border-radius: 0.313rem;
  margin-left: 0.625rem;
  //border:0.125rem solid blueviolet;
  padding-top: 0.625rem;
  padding-left: 0.938rem;
  // padding-right:0.938rem;
}
.PlanGroupsRight-1 {
  position: static;
  height: 35.313rem;
  margin-left: 0.813rem;

  box-sizing: border-box;
  // flex: none;
  // order: 1;
  // flex-grow: 0;
}

.addPlansContent .groupscol .col1 .left-title12 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0.625rem;
  padding-top: 0.625rem;
}

.planGroupReset {
  margin-top: 0.469rem;
  margin-right: 1.25rem;
  font-size: 0.875rem;
  line-height: 1.313rem;
  color: #4f4f4f;
}

// .resetApplyButtonsContainer{
//     border:0.125rem solid orchid;
// }
.planGroupApply {
  color: #2f80ed;
  font-size: 0.875rem;
  line-height: 150%;
  border-radius: 0.313rem;
  border: 0.063rem solid #2f80ed;
  background-color: white;
  box-sizing: border-box;
  width: 3.75rem;
  padding: 0.469rem 0.625rem 0.469rem 0.625rem;
}

.filtersCount {
  border-top: 0.125rem solid #f2f2f2;
  border-bottom: 0.125rem solid #f2f2f2;
  padding: 1.469rem 0 1.469rem 0;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
.filtersMapper {
  display: flex;
  flex-direction: column;
  margin-top: 0.938rem;
  margin-bottom: 0.313rem;
  overflow-x: hidden;
  overflow-y: auto;
  height: 26.25rem;
}
.filtersMapper .filterTitleMapper {
  margin-bottom: 0.375rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.313rem;
}

.planGroupSliderContainer {
  .PlanGroupsHeader {
    display: flex;
    // justify-content: space-between;
    width: 100%;
  }

  .buttonsGroupContainer {
    // border:0.125rem solid plum;
    margin-left: 34.375rem;
    width: 11.313rem;
  }

  .planGroupTitle {
    // display: flex;
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    // border:0.125rem solid blue;
    width: 18.75rem;
  }
  .planGroupPlan {
    position: static;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 150%;
    //border:blueviolet 0.125rem solid;
    margin-left: 6.25rem !important;
  }
  .planGroupRemoveCount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3.125rem;
    width: 28.125rem;
    // border:0.125rem solid brown;
  }
  .planGroupNoPlan {
    margin-top: 6.25rem;
    width: 28.125rem;
    display: inline-block;
    // justify-content: center;
    text-align: center;
    // border:0.125rem solid cyan;
  }

  .planAddPlan {
    // margin-left: 6.25rem;
    font-size: 0.75rem;
    margin-top: 0.375rem;
    font-weight: 500;
    color: #747474;
  }
  .planNoPlan {
    color: #333333;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 150%;
  }
  .plan-group-grey {
    color: #7c7c7c;
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  .grey-bg {
    width: auto;
    height: 2.063rem;
    background: #f2f2f2;
    border: 0.063rem solid #f2f2f2;
    box-sizing: border-box;
    border-radius: 0.313rem;
  }
  .smallText {
    color: #333333;
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: 400;
  }
  .max-width-381 {
    max-width: auto;
  }
  .pad-left-15 {
    padding-left: 0.938rem;
  }
  .pad-top-15 {
    padding-top: 0.938rem;
  }
  .pad-left-20 {
    padding-left: 1.25rem;
  }

  .w-342 {
    width: 21.375rem;
  }
  .w-600 {
    max-width: auto;
    overflow-y: scroll;
  }

  .w-269 {
    width: 16.813rem;
  }
  .w-380 {
    width: 23.75rem;
  }
  .w-381 {
    width: 23.813rem;
  }
  .w-400 {
    width: 25.938rem;
  }
  .w-453 {
    width: 28.313rem !important;
  }
  .w-45 {
    width: 2.813rem;
  }

  .ft-18 {
    font-size: 1.125rem;
  }
  .marg-top-5 {
    margin-top: 0.313rem;
  }
  .marg-top-15 {
    margin-bottom: 0.938rem;
  }
  .marg-top-50 {
    margin-top: 3.125rem;
  }
  .marg-bot-15 {
    margin-bottom: 0.938rem;
  }

  .marg-right-20 {
    margin-right: 1.281rem;
  }

  .marg-right-50 {
    margin-right: 3.125rem;
  }
  .marg-top-30 {
    margin-top: 1.875rem;
  }

  .marg-left-13 {
    margin-left: 0.813rem;
  }
  .marg-left-20 {
    margin-left: 1.25rem;
  }
  .marg-left-15 {
    margin-left: 0.938rem;
  }
  .marg-right-18 {
    margin-right: 1.125rem;
  }
  .marg-right-20 {
    margin-right: 1.25rem;
  }
  .ft-14 {
    font-size: 0.875rem;
  }
  .ft-18 {
    font-size: 1.125rem;
  }
  .plan-group-type {
    width: 16.25rem;
    height: 2.25rem;
  }
  .marg-bot-10 {
    margin-bottom: 0.625rem;
  }
  .marg-bot-4 {
    margin-bottom: 0.25rem !important;
  }
  .marg-left {
    margin-left: -12.5rem;
  }
  .d-none {
    display: none;
  }
  .flexD-col {
    flex-direction: column;
  }
  .justify-content-space-between {
    justify-content: space-between;
  }
  .plan-group-tile {
    border: 0.063rem solid #e0e0e0;
    position: relative;
    background: #ffffff;
    border-radius: 0.313rem;
    padding: 1.25rem 1.25rem 0rem;
    margin-bottom: 0.313rem;
    width: 50rem;
  }
  .plan-group-tile-header {
    font-size: 0.625rem;
    font-weight: 500;
    color: #747474;
    margin-bottom: 0.563rem !important;
  }
  .plan-group-added-tile-header {
    font-size: 0.625rem;
    font-weight: 500;
    color: #747474;
    margin-bottom: 0.25rem !important;
  }
  .plan-group-tile-content {
    font-size: 0.75rem !important;
    font-weight: 400;
    color: #333333;
  }
  .plan-group-search {
    width: 6.25rem;
    height: 2.25rem;
    border: 0.063rem solid #3a3974;
    // box-sizing: border-box;
    border-radius: 0.313rem !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.453rem 1.563rem !important;
    position: relative;
    top: 1.875rem;
  }
  .plan-group-description {
    width: 18.75rem;
    height: 6.25rem;
    border: 0.063rem solid #bdbdbd;
    box-sizing: border-box;
    border-radius: 0.313rem !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.625rem 1rem !important;
    position: relative;
  }

  .plan-group-blue {
    color: #3c50e8 !important;
  }
  a:hover {
    color: #3c50e8;
  }
  .float {
    float: left;
  }
  .clearfix {
    clear: both;
  }
  .pad-right-13 {
    padding-right: 0.813rem;
  }
  .pad-right-6 {
    padding-right: 0.375rem;
  }

  .pad-top-6 {
    padding-top: 0.375rem;
  }
  .pad-left {
    padding-left: 0.625rem;
  }

  .search-icon {
    position: absolute;
    left: 2.11%;
    right: 72.92%;
    top: 30.33%;
    bottom: 68.09%;
    height: 0.875rem;
    width: 0.875rem;
    margin-right: 0.313rem;
  }
  .total-record {
    font-size: 0.875rem;
    color: #bdbdbd;
    font-weight: 500;
  }
  .holiday-table {
    .cspl-table {
      .column-date {
        width: 25%;
      }
      .column-holiday-calendar {
        width: 50%;
      }
      .column-action {
        width: 25%;
      }
    }
  }
  .schedule-exception-table {
    .cspl-table {
      .column-companyName {
        width: 20%;
      }
      .column-frequency {
        width: 10%;
      }
      .column-scheduleStartDate {
        width: 10%;
      }
      .column-scheduleEndDate {
        width: 10%;
      }
      .column-periodStartDate {
        width: 10%;
      }
      .column-periodEndDate {
        width: 10%;
      }
      .column-paydate {
        width: 10%;
      }
      .column-action {
        width: 10%;
      }
    }
  }
}
