.cspl-table {
    /*height: 100%;*/
    overflow: hidden;
    a {
      &:hover {
        font-weight: 500;
      }
      color: $link;
    }
    .column-custodianName {
      width: 25%;
    }
    .column-custodianMail {
      width: 25%;
    }
    .column-custodianPhone {
      width: 25%;
    }
    .column-custodianPlan {
        width: 25%;
        justify-content: center;
    }
    .btn-theme{
        color: #fff;
        background-color: #3a3974;
        border: 1px solid #3a3974;
        border-radius: 4px;
        padding: 0px 10px;
    }
  }
