.AddPlanSearchBar {
  position: relative;
  flex-grow: 1;
  input {
    border-radius: 0 0.3rem 0.3rem 0;
  }
  .sm {
    width: 18.75rem;
    height: 2.25rem;
    padding-left: 2.063rem;
    font-size: 0.875rem;
    border-radius: 0.3rem;
  }
  .plan-group-searchbar {
    width: 23.813rem;
    height: 2.25rem;
    font-size: 0.75rem;
    line-height: 1.125rem;
    border-radius: 0.3rem;
  }

  .addclose-button-wrapper {
    position: relative;
    margin-top: 0.25rem;
    margin-left: 21.875rem;
    // right: 0.825rem;
    display: none;
    align-items: center;
    height: 100%;
    .addclose-button {
      border: 0;
      background-color: transparent;
      svg {
        font-size: 1.5rem;
      }
    }
    &.active {
      display: flex;
    }
  }
  .addclose-button-pg {
    position: absolute;
    margin-left: 17.25rem;
    top: 0rem;
    display: none;
    align-items: center;
    height: 100%;
    .addicon-size {
      border: 0;
      background-color: transparent;
      svg {
        font-size: 0.875rem;
      }
    }
    &.active {
      display: flex;
    }
  }
}

.small-input-grp {
  > .AddPlanSearchBar:first-child {
    display: flex;
    width: 1%;
    input {
      border-radius: 0.3rem 0 0 0.3rem;
      border-right-color: #fff !important;
    }
  }
  .addclose-button-wrapper {
    right: 0rem;
    .addclose-button svg {
      font-size: 1rem;
    }
  }
  .plan-search-button {
    background-color: #fff;
    border-left-color: #fff !important;
  }
}

.search-bar {
  .input-group-text {
    background: #fff;
  }
}
