.PlansAssociatedCard {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem !important;
  height: 8.188rem;
  width: 17.125rem;
  border-radius: 0.625rem;
  // position: absolute;
  border: 0.063rem solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 0.625rem;
}

.NumOfPlans {
  margin-top: 1.125rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  color: #333333;
  width: 2.5rem;
  height: 1.563rem;
}
.AddPlan {
  color: #2f80ed !important;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.313rem;
  border: 0.063rem solid #2f80ed !important;
  box-sizing: border-box;
  border-radius: 0.313rem;
  background-color: white;
  padding: 0.313rem 0.625rem !important;
  height: 1.938rem;
  width: 3.75rem;
  margin-top: 0 !important;
}
.AddPlan:hover {
  background-color: white !important;
  text-decoration: underline;
  color: #3a3974 !important;
}

.AddPlan:focus {
  background-color: white !important;
  text-decoration: underline;
}

.AddedPlansText {
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  height: 1.25rem;
}

.planGroupTextContainer {
  display: flex;
  // flex-direction: column;
  // align-items: flex-start;
  padding: 0rem;
  margin-top: 1.563rem;
}

.PlanGroupText {
  position: static;
  width: 7.5rem;
  height: 1.688rem;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.688rem;
  color: #333333;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.NumOfPlanGroupsText {
  position: static;
  width: 6.25rem;
  height: 1.313rem;
  margin-top: 0rem;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  color: #4f4f4f;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.AddGroup {
  color: #2f80ed;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.313rem;
  border: 0.063rem solid #2f80ed !important;
  box-sizing: border-box;
  border-radius: 0.313rem;
  background-color: white;
  padding: 0.313rem 0.625rem !important;
  height: 1.938rem;
  width: 7.5rem;
  position: relative;
  top: 15%;
  margin-left: 44.063rem;
  // left: 665%;
}

.AddGroup:hover {
  background-color: white !important;
  text-decoration: underline;
  color: #3a3974;
}

.AddGroup:focus {
  background-color: white !important;
  text-decoration: underline;
  color: #3a3974;
}
